UPDATE zabbix.media_type SET smtp_server = '{{ smtp_server }}',smtp_helo = '{{ smtp_domain }}', smtp_email = '{{ smtp_email }}', smtp_authentication = {{ smtp_authentication }}, smtp_port = {{ smtp_port }}, smtp_security = {{ smtp_security }}, smtp_verify_peer = {{ smtp_verify_peer }}, smtp_verify_host = {{ smtp_verify_host }}, username = '{{ username }}', passwd = '{{ password }}' WHERE name = 'Email';
