UPDATE zabbix.media_type SET smtp_server = '{{ html_smtp_server }}',smtp_helo = '{{ html_smtp_domain }}', smtp_email = '{{ html_smtp_email }}', smtp_authentication = {{ html_smtp_authentication }}, smtp_port = {{ html_smtp_port }}, smtp_security = {{ html_smtp_security }}, smtp_verify_peer = {{ html_smtp_verify_peer }}, smtp_verify_host = {{ html_smtp_verify_host }}, username = '{{ html_username }}', passwd = '{{ html_password }}' WHERE name = 'Email (HTML)';
